In [5]:
# the anil kumar is a very good customer, bouht 3045 sales orders from our portal. we got 20000 profit because of anil kumer.
customer_name = input("enter customer name : " )
number_of_sales_orders = input("enter sales orders : ")
profit = input("enter profit : " )
s = "The " + customer_name + " is very good customer, bought " +  number_of_sales_orders +  " sales orders from our portal. we got " + profit+ " profit because of " + customer_name
print(s)

enter customer name :  nagarjuna hmmm
enter sales orders :  69
enter profit :  96

The nagarjuna hmmm  is very good customer, bought 69 sales orders from our portal. we got 96 profit because of nagarjuna hmmm

In [2]:
# the anil kumar is a very good customer, bouht 3045 sales orders from our portal. we got 20000 profit because of anil kumer.
customer_name = input("enter customer name : " )
number_of_sales_orders = input("enter sales orders : ")
profit = input("enter profit : " )
s = "The " + customer_name + " is very good customer, bought " +  number_of_sales_orders + \
" sales orders from our portal. we got " + profit+ " profit because of " + customer_name
print(s)

enter customer name :  naresh
enter sales orders :  15
enter profit :  68654

The naresh is very good customer, bought 15 sales orders from our portal. we got 68654 profit because of naresh

In [4]:
# the anil kumar is a very good customer, bouht 3045 sales orders from our portal. we got 20000 profit because of anil kumer.
customer_name = input("enter customer name : " )
number_of_sales_orders = input("enter sales orders : ")
profit = input("enter profit : " )
s = f"The  {customer_name}  is very good customer, bought   {number_of_sales_orders}  sales orders from our portal. we got  {profit} profit because of {customer_name}"
print(s)

enter customer name :  naresh
enter sales orders :  3514654
enter profit :  63546854654163546846314546+54621654

The  naresh  is very good customer, bought   3514654  sales orders from our portal. we got  63546854654163546846314546+54621654 profit because of naresh

In [5]:
customer_name = input("enter customer name : " )
number_of_sales_orders = input("enter sales orders : ")
profit = input("enter profit : " )
s = f"The  {customer_name}  is very good customer, bought   {number_of_sales_orders}  sales orders from our portal. we got  {profit} profit because of {customer_name}"
print(s)

enter customer name :  naarjuna hmmmmmmmmmmm
enter sales orders :  1651
enter profit :  1654654

The  naarjuna hmmmmmmmmmmm  is very good customer, bought   1651  sales orders from our portal. we got  1654654 profit because of naarjuna hmmmmmmmmmmm

In [7]:
a = 100
print( a+ "ad")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
a = 100
print(f"the product cost {str(a)}")

the product cost 100

In [14]:
cost = 1000.514
print(f"the product cost {cost: .2f}")

the product cost  1000.51

In [1]:
print("the product cost

SyntaxError: unterminated string literal (detected at line 1) (2353230214.py, line 1)

In [10]:
a = "abc;def;egf;jkl"
k =a.replace(";","$",2)
print(k)

abc$def$egf;jkl

In [13]:
a = "abc;def;egf;jkl"
k =a.replace("$",";",2)
print(k)

TypeError: replace expected at most 3 arguments, got 4