In [4]:
print("______*_____Integers_____*_______")
print("    ")
a = 10
b = 5
print(a+b, "Addition") 
print(a-b, "Subtraction")
print(a*b, "Multiplication")
print(a/b, "Division")
print(a//b, "Floor Division")
print(a%b , "Modulus")
print(a**b , "Exponentiation")

______*_____Integers_____*_______

15 Addition
5 Subtraction
50 Multiplication
2.0 Division
2 Floor Division
0 Modulus
100000 Exponentiation

In [5]:
print("______*_____Floating-point Numbers_____*_______")
print("    ")
a = 10.50
b = 5.31
print(a+b, "Addition") 
print(a-b, "Subtraction")
print(a*b, "Multiplication")
print(a/b, "Division")
print(a//b, "Floor Division")
print(a%b , "Modulus")
print(a**b , "Exponentiation")

______*_____Floating-point Numbers_____*_______

15.809999999999999 Addition
5.19 Subtraction
55.754999999999995 Multiplication
1.977401129943503 Division
1.0 Floor Division
5.19 Modulus
264554.5151678217 Exponentiation

In [12]:
print("______*_____Complex Numbers_____*_______")
print("    ")
a = (2+3j)
b = (4-5j)
print(a+b, "Addition") 
print(a-b, "Subtraction")
print(a*b, "Multiplication")
print(a/b, "Division")
#print(a//b, "Floor Division")  ## TypeError: unsupported operand type(s) for //: 'complex' and 'complex'
# print(a%b , "Modulus")        ## TypeError: unsupported operand type(s) for %: 'complex' and 'complex'
print(a**b , "Exponentiation")

______*_____Complex Numbers_____*_______

(6-2j) Addition
(-2+8j) Subtraction
(23+2j) Multiplication
(-0.17073170731707318+0.5365853658536587j) Division
(-18175.487698625275-14117.567839250678j) Exponentiation

## Strings:

In [18]:
print("______*_____strings_____*_______")
print("    ")
a = "Naresh " 
b = "Narayanadasu"
print(a+b, "Addition") 
# print(a-b, "Subtraction")     ## TypeError: unsupported operand type(s) for -: 'str' and 'str'
# print(a*b, "Multiplication")  ## TypeError: can't multiply sequence by non-int of type 'str'
# print(a/b, "Division")        ## TypeError: unsupported operand type(s) for /: 'str' and 'str'
# print(a//b, "Floor Division") ## TypeError: unsupported operand type(s) for //: 'str' and 'str'
# print(a%b , "Modulus")        ## TypeError: not all arguments converted during string formatting
# print(a**b , "Exponentiation")## TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'

______*_____strings_____*_______

Naresh Narayanadasu Addition

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'

In [22]:
print("______*_____Boolean_____*_______")
print("    ")
a = True
b = False
print(a+b, "Addition") 
print(a-b, "Subtraction")
print(a*b, "Multiplication")
# print(a/b, "Division")        ## ZeroDivisionError: division by zero
# print(a//b, "Floor Division") ## ZeroDivisionError: integer division or modulo by zero
# print(a%b , "Modulus")        ## ZeroDivisionError: integer modulo by zero
print(a**b , "Exponentiation")

______*_____Boolean_____*_______

1 Addition
1 Subtraction
0 Multiplication
1 Exponentiation

In [31]:
print("______*_____list_____*_______")
print("    ")
a = [1,2,3]
b = [4,5,6]
print(a+b, "Addition") 
# print(a-b, "Subtraction")    # TypeError: unsupported operand type(s) for -: 'list' and 'list'
# print(a*b, "Multiplication") # TypeError: can't multiply sequence by non-int of type 'list'
# print(a/b, "Division")       # TypeError: unsupported operand type(s) for /: 'list' and 'list'
# print(a//b, "Floor Division")# TypeError: unsupported operand type(s) for //: 'list' and 'list'
# print(a%b , "Modulus")       # TypeError: unsupported operand type(s) for %: 'list' and 'list'
# print(a**b , "Exponentiation") # TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'list'
print(3*(a), 3*(b))

______*_____list_____*_______

[1, 2, 3, 4, 5, 6] Addition
[1, 2, 3, 1, 2, 3, 1, 2, 3] [4, 5, 6, 4, 5, 6, 4, 5, 6]

Integer and float: (7.5, 2.5, 12.5, 2.0, 2.0, 0.0, 55.90169943749474)
Error: can only concatenate str (not "int") to str
Error occurred during arithmetic operations.
Error: unsupported operand type(s) for //: 'complex' and 'complex'
Error occurred during arithmetic operations.

In [51]:
## Arithmetic Operations with Errors ##

# Example 1
a = 10
b = "str"
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
# Example 2
a = 10
b = True
print(a + b)

11

In [53]:
# Example 3
a = 10
b = 14.35
print(a + b)

24.35

In [54]:
# Example 4
a = 10
b = 5 + 6j
print(a + b)

(15+6j)

In [55]:
# Example 5
a = 10
b = [10, 20, 30]
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [56]:
# Example 6
a = 10
b = ("a", "b", 10)
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [57]:
# Example 7
a = 10
b = {"a", "b", "c"}
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'set'

In [58]:
# Example 8
a = 10
b = {"a": 10, "b": 20}
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'dict'

In [59]:
## Operators ##

# Division
a = 10
b = 2
print(a / b)

5.0

In [60]:
# Floor Division
a = 10
b = 2
print(a // b)
a = 10
b = 2.0
print(a // b)

a = 10.0
b = 2.0
print(a // b)

5
5.0
5.0

In [61]:
# Bitwise NOT
a = ~5
print(a)

-6

In [62]:
# String Comparison
a = "python"
b = "PYTHON"
print(a > b)

True

In [63]:
# List Operations
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

[1, 2, 3, 4, 5, 6]

In [64]:
a = [1, 2, 3]
b = [4, 5, 2]
print(a - b)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [65]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a * b)

TypeError: can't multiply sequence by non-int of type 'list'

In [66]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a % b
print(c)

TypeError: unsupported operand type(s) for %: 'list' and 'list'

In [67]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a ** b
print(c)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'list'

In [68]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a / b
print(c)

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [69]:
# Tuple Operations
a = ("a", "b", "c")
b = 10
print(a + b)

TypeError: can only concatenate tuple (not "int") to tuple

In [70]:
a = ("a", "b", "c")
b = 10
print(a - b)

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [71]:
a = ("a", "b", "c")
b = ("d", "e", "f")
print(a + b)

('a', 'b', 'c', 'd', 'e', 'f')

In [72]:
a = ("a", "b", "c")
b = ("d", "e", "f")
print(a * b)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [73]:
a = (1, 2, 3, 4, 5)
b = (6, 7, 1, 2)
print(a / b)

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [74]:
# Set Operations
a = {"a", "b"}
b = {"c", "d"}
print(a + b)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [75]:
a = {"a", "b"}
b = {"c", "d", "a"}
print(a - b)

{'b'}

In [76]:
a = {1, 2, 3}
b = {1, 3, 4}
print(a / b)

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [77]:
a = {1, 2, 3, 4}
b = {1, 2, 3}
print(a * b)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [78]:
a = {1, 2, 3}
b = {1, 2}
print(a % b)

TypeError: unsupported operand type(s) for %: 'set' and 'set'