In [1]:
a ="10"
b ="20"
print(a+b)

1020

In [2]:
a ="10"
b ="20"
a = int(a)
b= int(b)
print(a+b)

30

In [4]:
#  string typecasting
n = "naresh"
s = "narayanadasu"
print(n *s)
print(n/s)
print(n//s)

TypeError: can't multiply sequence by non-int of type 'str'

In [6]:
n = 10
d =  5
print(n/d)
print(n // d)

2.0
2

In [8]:
b = "12a"
a = int(b)

ValueError: invalid literal for int() with base 10: '12a'

In [ ]:
a = "12.39"
print(