## Integer Arithmetic

In [1]:
a = 10
b = 5
result = a + b  #  addition
print(result)

15

In [2]:
result = a / b  #  division
print(result)

2.0

## Floating Point Arithmetic

In [3]:
a = 10.5
b = 2.0
result = a * b  #  multiplication
print(result)

21.0

In [4]:
result = a / b  #  division
print(result)

5.25

## String Arithmetic (Concatenation and Repetition)

In [7]:
a = "naresh"
b = "narayanadasu"
result = a + " " + b  #  concatenation
print(result)

naresh narayanadasu

In [8]:
result = a * 3  #  repetition
print(result)

nareshnareshnaresh

## List Arithmetic (Concatenation and Repetition)

In [9]:
a = [1, 2]
b = [3, 4]
result = a + b  #  concatenation
print(result)

[1, 2, 3, 4]

In [10]:
result = a * 2  #  repetition
print(result)

[1, 2, 1, 2]

## integer and String Arithmetic (TypeError)

In [11]:
a = 10
b = "5"
result = a + b  # Error: Cannot add integer and string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Float and String Arithmetic (TypeError)

In [12]:
a = 10.5
b = "2.0"
result = a * b  # Error: Cannot multiply float and string

TypeError: can't multiply sequence by non-int of type 'float'

## List and Integer Arithmetic (TypeError)

In [13]:
a = [1, 2]
b = 3
result = a + b  # Error: Cannot add list and integer

TypeError: can only concatenate list (not "int") to list

## Dictionary Arithmetic (TypeError)

In [14]:
a = {"key1": 10}
b = {"key2": 20}
result = a + b  # Error: Cannot add dictionaries

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

## Mixing Integers and Lists (TypeError)

In [15]:
a = [1, 2]
b = 10
result = a * b  # Valid repetition
print(result)  # Output: [1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [16]:
result = a + b  # Error: Cannot concatenate list and integer

TypeError: can only concatenate list (not "int") to list

## Undefined Variables

In [18]:
a = 10
result = a + x  # Error: Variable 'b' is not defined

NameError: name 'x' is not defined